PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# Resend
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Use your verified domain in production e.g. "Acme <hello@yourdomain.com>"
# onboarding@resend.dev is for testing only
FROM_EMAIL=onboarding@resend.dev
FROM_NAME=Resend Email API
